[submodule "base"]
	path = base
	url = https://github.com/nradulovic/neon-base.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/nradulovic/neon-kernel.git
[submodule "lib"]
	path = lib
	url = https://github.com/nradulovic/neon-lib.git
[submodule "drivers"]
	path = drivers
	url = https://github.com/nradulovic/neon-drivers.git
[submodule "timer"]
	path = timer
	url = https://github.com/nradulovic/neon-timer.git
[submodule "mem"]
	path = mem
	url = https://github.com/nradulovic/neon-mem.git
